<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AdjustKeyboardWithSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>86E109451CE02B4500A2BC6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86E109591CE02B4600A2BC6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86E109641CE02B4600A2BC6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
